---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  body {
    background: #1e1e1e;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    color: #fff;
  }
  input {
    font-family: inherit;
    font-size: inherit;
    padding: 10px 15px;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.15em;
    outline: none;
    width: 100%;
  }
</style>
